@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
body{
    font-family: 'Dosis';
}
.header-nav{
    position: fixed;
    top: 0;
    left: 0;
    background-color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}
.header-nav li{
    display: inline-block;
    margin: 0.5em;
    font-size: 1.2em;
}
.header-logo{
    margin-top: 0.2em;
    margin-left: 1em;
    width: 5em;
    height: 5em;
}
main{
    display: flex;
    justify-content: center;
    margin: 250px;
}
.page-main-content{
    width: 900px;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 4em;
}
p{
    font-weight: lighter;
    font-size: 1.4em;
}
button{
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 12px;
    color: #3B3B3B;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 16px 24px;
    text-align: center;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin: 3px;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}