@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
body{
    font-family: 'Dosis';
    background-image: linear-gradient(600deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 150em 100em;
}
.header-nav{
    background-color: #272a2f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}
.header-nav li{
    display: inline-block;
    margin: 0.5em;
    font-size: 1.2em;
}
.header-logo{
    margin-top: 0.2em;
    margin-left: 1em;
    width: 5em;
    height: 5em;
}
.header-buttons{
    position: absolute;
    margin-left: 25%;
}
main{
    display: flex;
    justify-content: center;
    margin: 250px;
}
.page-main-content{
    width: 900px;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 4em;
}
p{
    font-weight: lighter;
    font-size: 1.4em;
}
button{
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 12px;
    color: floralwhite;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin: 8px 3px 3px 3px;
}

button:disabled {
    pointer-events: none;
}

button:hover {
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}
hr{
    width: 99.9%;
    position: absolute;
    top: 85px;
    left: 0;
}
footer{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    bottom: 0;
    right: 10px;
}