@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;500&display=swap');
body{
    font-family: 'Dosis';
    background-image: linear-gradient(600deg, #84fab0 0%, #8fd3f4 100%);
    background-repeat: no-repeat;
    background-size: 150em 100em;
}
main{
    margin-top: 200px;
}
nav{
    background-color: #272a2f;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 90px;
}
nav li{
    display: inline-block;
    margin-bottom: 0.5em;
    margin-left: 0.5em;
    margin-right: 0.5em;
    font-size: 1.2em;
}
.quizlee-logo{
    margin-top: 0.2em;
    margin-left: 1em;
    width: 5em;
    height: 5em;
}
.header-buttons{
    position: absolute;
    margin-left: 25%;
}
header{
    display: flex;
    justify-content: center;
    margin: 250px;
}
.page-main-content{
    width: 900px;
}
h1{
    text-align: center;
    font-weight: normal;
    font-size: 4em;
}
p{
    font-weight: lighter;
    font-size: 1.4em;
}
button{
    background-color: transparent;
    border: 2px solid #1A1A1A;
    border-radius: 12px;
    color: floralwhite;
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    font-weight: 600;
    padding: 10px 15px;
    text-align: center;
    touch-action: manipulation;
    width: 100%;
    will-change: transform;
    margin: 8px 3px 3px 3px;
}
button:disabled {
    pointer-events: none;
}
button:hover{
    color: #fff;
    background-color: #1A1A1A;
    box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
    transform: translateY(-2px);
}
button:active{
    transform: translateY(0);
}
footer{
    position: absolute;
    text-align: right;
    font-size: 0.8em;
    bottom: 0;
    right: 10px;
}
.social-media{
    margin: 1em;
    width: 140px;
}
.quiz_title{
    margin-top: -5em;
    text-shadow: 1px 1px 1px black;
}
.quiz_logo{
    width: 250px;
    height: 250px;
    margin-top: 30px;
    margin-left: 30px;
}
.image{
    position: relative;
}
.image_overlay{
    position: absolute;
    top: 0;
    left: 30px;
    width: 250px;
    height: 250px;
    margin-top: 30px;
    background: rgba(0, 0, 0, 0.6);
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.5s;
}
.image_overlay-primary{
    background: #009578;
}
.image_overlay > *{
    transform: translateY(10px);
    transition: transform 0.25s;
}
.image_overlay:hover{
    opacity: 1;
}
.image_overlay:hover > *{
    transform: translateY(0);
}
.image_title{
    font-size: 2em;
    font-weight: bold;
}
.image_description{
    font-size: 1.25em;
    margin-top: 0.25em;
    text-align: center;
}
.quiz_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}
.quiz_content{
    display: inherit;
    width: 800px;
}
.quiz_info{
    background: azure;
    width: 500px;
    height: 250px;
    margin-top: 30px;
}
.quiz_info_text{
    margin: 30px;
}
.quote{
    text-align: right;
    margin-top: 7em;
    font-size: medium;
}
